############# TAG FILTERS #############

# Tags are compatible with Jackett! Use the name of the tracker in Jackett or qBittorrent, not the website.
# Any private trackers added through Jackett will show up the same as if they are added to qBittorrent search plugin.

tags:
  # Remove the Jackett tags in brackets from the torrent title, and move them to a custom field "jackett".
  remove_jackett_tags: true
  # Only save torrents that match any tracker_tags entries.
  tracker_tags_only: false
  # Skip saving torrents that match any tracker_tags entries. This setting is inactive when tracker_tags_only is active.
  tracker_tags_skip: false
  # Add tags in qBittorrent to downloads from these trackers. Leave blank to apply rules (only or skip) without tagging in qBittorrent.
  tracker_tags:
    Private Tracker Name 1: tag1
    Private Tracker Name 2: tag2
    Private Tracker Name 3: 

############# TORRENT FILTERS #############

# The built-in optimizer uses this filter to create a scoring metric.
# Minimum scores and sizes to determine which torrents to publish.
# Torrents are sorted on score (greatest) and pubDate (newest).
# To convert to file size in mbps, use the formula: (file size in MB) = mbps * (runtime minutes) * 7.5

# Movies/TV category provides mbps estimates for each quality level. Enter the minimum size for the category. Leave one category blank as the lowest quality (default=SD).
#   TV categories: WEB-DL, SD, HD, Other. Not supported by mbps filtering: Foreign, Sport, Anime, Documentary.
#   Movie categories: Other, SD, HD, UHD, BluRay, 3D. Not supported by mbps filtering: Foreign.
# Movies/TV weights provide the aggregate scores for each torrent.
#   min_score: Drops anything lower than this. Score can be any number, but should be based on the weights.
#   seeders_10pct: number of seeders is in the top 10% of seeders for this show/movie
#   seeders_50pct: number of seeders is in the top 50% of seeders for this show/movie
#   size_preferred: size is within 10% of the average size for the show/movie
#   favorite: is marked as a favorite in the config
#   quality: is marked as a quality in the config
# Movies/TV options provide information for the optimizer
#   unknown_runtime (Movies default=100, TV default=20): if runtime is unknown in Jellyseerr, use this value for size heuristics
#   quality_search: any search strings found add the quality score
#   required_mbps: Drops anything outside this range (in MB/s).
#   best_mbps: Preferred quality (in MB/s).

Movies:
  category:
    - "WEB-DL": 
    - "SD": 3.33
    - "HD": 5.33
    - "UHD": 8
  weights:
    min_score: 5
    seeders_10pct: 7
    size_preferred: 5
    favorite: 3
    seeders_50pct: 2
    quality: 1.17
  unknown_runtime: 100
  quality_search:
    - YTS
    - 1080p
    - 2160p
  favorite_sites:
    - "https://archive.org"
    - "https://www.publicdomaintorrents.info"
  required_mbps:
    # For 90 minute movie, 1.33 to 16 mbps ~ 900MB to 10.8GB
    lower: 1.33
    upper: 16
  best_mbps:
    # For 90 minute movie, 3.33 to 10 mbps ~ 2.25GB to 6.75GB
    lower: 3.33
    upper: 10

TV:
  category:
    - "SD": 
    - "HD": 3.33
    - "UHD": 8
  weights:
    min_score: 5
    seeders_10pct: 6.7
    size_preferred: 5
    favorite: 3
    seeders_50pct: 2
    quality: 1
  unknown_runtime: 20
  quality_search:
    - 1080p
    - EZTV
  favorite_sites:
    - "https://archive.org"
    - "https://www.publicdomaintorrents.info"
  required_mbps:
    # For a 20 minute show, 1.33mbps ~ 200MB to 1.2GB
    lower: 1.33
    upper: 8
  best_mbps:
    # For a 20 minute show, 3.33 to 6 mbps ~ 500MB to 900MB
    lower: 3.33
    upper: 6
